<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd


	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${project.artifactId}-smart"/>

    <!--关闭所有服务的启动时检查：(没有提供者时报错)-->
    <dubbo:consumer timeout="2000" check="false" group="${dubbo.group}"/>

    <!-- 这里使用的注册中心是zookeeper -->
    <dubbo:registry address="${dubbo.registry.address}" client="zkclient"/>

    <!-- 交易服务 -->
    <dubbo:reference id="tradeFacade" interface="cn.bit.facade.service.trade.TradeFacade" version="${project.version}" />
</beans>