<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyBillPaymentMessageListener" class="cn.bit.fees.mq.consumer.PropertyBillPaymentMessageListener" />

    <bean id="feesConsumer" class="cn.bit.rocketmq.client.consumer.DefaultMultiTopicMQPushConsumer" init-method="start"
          destroy-method="shutdown">
        <property name="namesrvAddr" value="${rocket.nameserver.address}" />
        <property name="consumerGroup" value="${project.artifactId}" />
        <property name="subscription">
            <map>
                <entry value-ref="propertyBillPaymentMessageListener">
                    <key>
                        <bean class="cn.bit.rocketmq.client.consumer.Subscription">
                            <property name="topic" value="trade_payment"/>
                            <property name="expression" value="property_bill"/>
                        </bean>
                    </key>
                </entry>
            </map>
        </property>
    </bean>
</beans>