<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:consumer check="false" group="${dubbo.group}" />

    <dubbo:registry protocol="zookeeper" id="commons" address="${dubbo.commons.registry.address}"/>

    <!-- 公共系统服务 -->
    <dubbo:reference interface="cn.bit.common.facade.system.service.SystemFacade" id="commonSystemFacade"
                     group="${dubbo.commons.group}" validation="false" registry="${dubbo.commons.registry.id}"
                     version="${common-facade-system.version}" />

</beans>