<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 交易id构建器 -->
    <bean id="tradeIdBuilder" class="cn.bit.framework.data.common.IdBuilder">
        <constructor-arg name="type" value="0"/>
    </bean>

    <!-- 退款id构建器 -->
    <bean id="refundIdBuilder" class="cn.bit.framework.data.common.IdBuilder">
        <constructor-arg name="type" value="1"/>
    </bean>
</beans>